<div class="search">

    <div></div>

    <div class="search-block">
        <img src="../../../assets/images/logo.png" alt="youtube logo">

        <div>
            <input class="search-block-text" type="text" id="" placeholder="What are you want to find out?">
            <button class="search-block-button">search</button>
        </div>

        <button class="search-block-sort" (click)="toggleSort()">
            <img src="../../../assets/images/sort.png" alt="sort icon">
        </button>
    </div>

    <app-user></app-user>
    

</div>  