.card {
  width: 263px;
  height: 327px;
  border-radius: 5px;
  background-color: #e5e5e5;
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.35);
  padding: 20px 0 0 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  margin: 15px;

  &-preview {
    height: 140px;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;

    &-img {
      width: 223px;
      height: 123px;
      margin-bottom: 5px;
    }
  }

  &-stat {
    display: flex;
    justify-content: space-between;
    width: 223px;
    height: 13px;
    padding: 0 10px 0 10px;

    &-block {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;

      &-text {
        font-size: 0.8rem;
        margin-left: 2px;
      }
    }
  }

  &-title {
    height: 60px;

    &-text {
      font-size: 20px;
      color: #4f4f4f;
      margin: 0 20px 0 20px;
      text-align: center;
    }
  }

  &-more {
    width: 120px;
    height: 32px;
    background-color: #2f80ed;
    border-radius: 5px;
    color: white;
    cursor: pointer;
  }

  &-light {
    height: 5px;
    width: 100%;
    background-color: #2f80ed;
  }
}
